<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="suiteXmlFile" value="${suiteXmlFile}"/>
    <test verbose="2" preserve-order="true" name="Test 1">
        <classes>
            <class name="day_7.Authentications">
            </class>
            <class name="day_7.FakerDataGenerator">
            </class>
        </classes>
    </test>
</suite>