<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Test 1">
        <classes>
            <class name="day_8.CreateUser">
            </class>
            <class name="day_8.GetUser">
            </class>
            <class name="day_8.UpdateUser">
            </class>
            <class name="day_8.DeleteUser">
            </class>
        </classes>
    </test>
</suite>